/* style.css */
body {
    background-color: white; /* fundo branco */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
    border: 2px solid #5e1a8b; /* borda roxa */
}

input {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #5e1a8b; /* roxo */
    color: white;
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #9b56ad; /* roxo mais claro */
}

.button:active {
    background-color: #6e1c7a; /* roxo mais escuro */
}

button:focus {
    outline: none;
}
